.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 300px;
    width: 80%;
  }
  
   .input-section {
    margin: 20px 0; 
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    gap: 20px;
}

  .user-input {
    width: 70%;
    height: 70px;
    border: 1px solid lightgray; 
    border-radius: 8px;
    padding: 10px;
    border-color: #8f969c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    resize: both;
    overflow: auto;
  }

  .user-input:focus {
    border-color: #4A90E2; 
  }

  .user-input::placeholder {
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
  }

  .generate-btn {
    display: flex;
    width: 15%;
    background-color: #ff9f1c;
    align-items: flex-start;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .generate-btn:hover {
    background-color: #e68a00;
  }
  
  .image-gallery {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
  }
  
  .image-gallery img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .image-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  .content-header {
    display: flex;
    align-items: center; 
    flex-direction: row;
    gap: 10px; 
    margin-bottom: 20px;
  }
  
  .ai-logo {
    width: 40px; 
    height: 40px; 
    padding-bottom: 4%;
  }
  
  .block1 {
    text-align: left; 
    margin: 0;        
    padding-right: 400px;       
    width: 100%;     
    line-height: 1.6;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .content-title1 {
    font-size: 15px;   
    font-weight: bold;
    margin-bottom: 10px; 
    color: #2c3e50;    
  }
  
  .content-subtitle {
    font-size: 16px;   
    color: black;      
    margin: 0;         
    line-height: 1.5;  
  }
  
  .prompt-label {
    font-size: 14px;
    color: gray; 
    position: absolute;
    top: 10px; 
    left: -120px;
  }

  .prompt-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
    position: relative;
  }