.main-content {
    flex: 1;                     
    padding: 20px;               
    background-color: #fff;       
    overflow-y: auto;             
    box-sizing: border-box;       
    transition: all 0.3s ease;    
  }
  
  .main-content h1 {
    font-size: 2rem;              
    margin-bottom: 10px;          
  }
  
  .main-content p {
    font-size: 1rem;              
    line-height: 1.5;            
    margin-bottom: 20px;        
  }
  
  .image-gallery {
    display: flex;               
    gap: 20px;                    
    justify-content: center;     
    flex-wrap: wrap;              
  }
  
  .image-gallery img {
    max-width: 100%;              
    height: auto;                 
    object-fit: cover;            
    border-radius: 8px;          
  }
  body {
    margin: 0;
    padding: 0;
    padding-left: 10%;
    overflow-x: hidden; 
  }

  .back-arrow-container {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    
    color: #161515; 
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 1000;
    padding-left: 27%;
  }
  
  .back-arrow-container:hover {
    transform: scale(1.1); 
    
  }
  
  .back-arrow-icon {
    width: 30px;
  height: 30px;
  color: #242020;
    
  }