.sidebar {
    width: 400px; /* Width of the sidebar */
    height: 100vh; /* Full height of the viewport */
    background-color: #0f1b2a; /* Background color of the sidebar */
    color: #d1d5db; /* Text color */
    position: fixed; /* Keeps the sidebar fixed on the left */
    top: 0;
    left: 0;
    transition: width 1s ease-in; /* Smooth transition when sidebar is opened/closed */
    padding-top: var(--hui-navbar-height, 50px); /* Adjust based on your variable or use a static value */
    padding-left: 64px; /* Padding for inner content */
    padding-right: 32px; /* Padding for inner content */
    box-sizing: border-box; /* Ensure padding does not affect width calculation */
    border-radius: 0 40px 0 0; /* Rounded corners on top-right side */
    opacity: 1; /* Fully visible */
  }

  /* Inner content of the sidebar */
.sidebar-inner {
    height: 100%; /* Full height */
    width: 100%; /* Full width */
  }
  .logo-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .logo {
    width: 30px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
  }
  
  .logo-text {
    color: white;
    font-size: 16px;
    font-weight: normal;
  }
  .welcome-title {
    color: white;
  }
  
  .features-list {
    list-style-type: none;
    padding: 0;
  }
  
  .features-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .feature-title {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .info-icon {
   font-family: Arial, Helvetica, sans-serif; /* Standard font for consistency */
  font-size: 1.5rem;
  color: #0f1b2a; /* Set a proper color */
  /* background-color: #ff9900; Background color for aesthetic */
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect */
  .info-icon:hover {
    transform: scale(1.2); /* Slightly increase size on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  /* Focus effect (for accessibility) */
  .info-icon:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2); /* Focus ring */
  }
  